@model IEnumerable<CapstoneRemastered.Models.HourBreakdown>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("ExportData", "ExportHoursToExcel", FormMethod.Post))
{


    <table style="background-color: white; width: 100%;">
        <tr>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Driver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hoursworked)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleNumbers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Signature)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CoDriver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OnDutyHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OffDutyHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OnDutyHours2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OffDutyHours2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OnDutyHours3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OffDutyHours3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalHours)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Driver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hoursworked)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleNumbers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Signature)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoDriver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OnDutyHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OffDutyHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OnDutyHours2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OffDutyHours2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OnDutyHours3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OffDutyHours3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalHours)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        <tr>
            <td></td>

            <td></td>
            <td>
                <input type="submit" name="btnExportLicensing" style="width: 140px;"
                       value="Export" id="exportLicensing" class="button" />
            </td>
        </tr>
    </table>
}

