@model CapstoneRemastered.Models.DailyLogMileageAndFuelReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyLogMileageAndFuelReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tractornumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tractornumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailernumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trailernumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pronumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pronumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totalmilesdriven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totalmilesdriven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totalgaspurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totalgaspurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Routestraveled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Routestraveled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odometerstart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odometerstart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odometerfinish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odometerfinish)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
